# LiteLLm
LITELLM_API_KEY=
LITELLM_URL=
LITELLM_MODEL=

# Langfuse
LANGFUSE_SECRET_KEY = 
LANGFUSE_PUBLIC_KEY = 
LANGFUSE_BASE_URL = 

#Zammad
ZAMMAD_BASE_URL=
ZAMMAD_KB_ID=
ZAMMAD_KB_RSS_FEED_TOKEN=
ZAMMAD_AUTH_TOKEN=

#Qdrant
QDRANT_API_KEY = 
QDRANT_HOST = 
QDRANT_COLLECTION_NAME = 

# Config
PATH_TO_YAML_CONFIG =
